.main-content {
  display: flex;
  flex: 1;
  min-height: 0;
}

.side-panel {
  flex: 0 0 25%;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-panel {
  flex: 1;
  min-width: 0;
  overflow: hidden;
}
.path-item .trash-icon {
  visibility: hidden;
  transition:
    visibility 0.2s ease,
    opacity 0.2s ease;
  opacity: 0;
}

.path-item:hover .trash-icon {
  visibility: visible;
  opacity: 1;
}

.path-item .exclude-icon,
.file-item .exclude-icon {
  visibility: hidden;
  transition:
    visibility 0.2s ease,
    opacity 0.2s ease;
  opacity: 0;
}

.path-item:hover .exclude-icon,
.file-item:hover .exclude-icon {
  visibility: visible;
  opacity: 1;
}
