.header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  padding: 0.4rem 0;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.link {
  display: block;
  line-height: 1;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  text-decoration: none;
  color: #495057;
  border-radius: 4px;
  transition:
    background-color 0.2s,
    color 0.2s;
  width: auto;
}

.link:hover {
  background-color: #e9ecef; /* Lighter gray background on hover */
}

.link.active {
  background-color: #e9ecef;
  color: #333;
}

.no-wrap-group {
  flex-wrap: nowrap !important;
  width: 100%;
}
