h1 {
  text-align: center;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-card {
  width: 350px; /* or whatever fits */
  text-align: center;
}
